nav.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                .navbar-header
                    button(class="navbar-toggle", type="button", data-toggle="collapse", data-target="#main-navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(class="navbar-brand", href=url_for()) Blog
                #main-navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.search
                            include algolia
                        each value, key in theme["navbar-links"]
                            li
                                if typeof value.link === 'string'
                                    a(href=url_for(value.link), class=value.class)!= key
                                else
                                    a(href=url_for(value))!= key
