
.main-sidebar.col-md-3.col-lg-3
    .sidebar-item
        header.sidebar-item-header
            h4 Courses
        div.sidebar-item-content
            .course-item
                a(href="https://egghead.io/courses/use-typescript-to-develop-vue-js-web-applications",onclick="ga('send', 'event', 'Course', 'click', 'Use Typescript to develop Vue.js web applications - Egghead');")
                  img(src="/images/courses/vuets.png", alt="Use Typescript to develop Vue.js web applications")
                  | Use TypeScript to Develop Vue.js Web Applications
            hr
            .course-item
                a(href="https://egghead.io/courses/vue-js-state-management-with-vuex-and-typescript", onclick="ga('send', 'event', 'Course', 'click', 'Vue.js state management with Vuex and TypeScript course - Egghead');")
                  img(src="/images/courses/vuexts.png", alt="Vue.js state management with Vuex and TypeScript course")
                  | Vue.js State Management with Vuex and TypeScript
