
.main-sidebar.col-md-3.col-lg-3
    .sidebar-item
        header.sidebar-item-header
            h4 Courses
        div.sidebar-item-content
            .course-item
                a(href="https://egghead.io/courses/use-typescript-to-develop-vue-js-web-applications")
                  img(src="/images/courses/vuets.png", alt="Vue TS course")
                  | Use TypeScript to Develop Vue.js Web Applications
            //- hr
